.swiper-slide {
  display: flex;
  width: fit-content !important;
  margin-right: 0;
}

.swiper-button-prev, .swiper-button-next {
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;

  width: 5rem;
  color: #FFFFFF;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 3.2rem;
}

@media(min-width: 1024px) {
  .swiper::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 10, 15, 0) 0%, #000A0F 100%);
    pointer-events: none;
  }
  
  .swiper::after {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 10, 15, 0) 0%, #000A0F 100%);
    pointer-events: none;
  }
}